#midtop{
	width: 100%;
	height: 70%;
	font-size: 20px;
}

#midtop_title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	text-align: center;
}

#login_table{
	width: 55%;
    height: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	left: 50%;
    transform: translate(40%, 0%);
	border: none;
}

#login_table td{
    padding: 8px;
	border: none;
}
	
.press {
	position: absolute;
    width: 20%;
	transform: translate(-50%, -50%);
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#press_input{
    left: 62%;
}

#button_input{
    left: 38%;
}

#logout_input{
    left: 50%;
}

form input[type=password], form input[type=text] {
    width: 500px;
    background: #f3f3f3;
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 0;
    border-bottom: 0;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 15px;
    color: #373737;
}
